# ==============================================================================
# General
# ==============================================================================

# macOS / Windows specific files
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

# Editor / IDE specific files
.idea/
.vscode/
*.swp
*~

# ==============================================================================
# Python
# ==============================================================================

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a script, but they might change between platforms.
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# ==============================================================================
# Testing & Coverage
# ==============================================================================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# ==============================================================================
# Other Tools
# ==============================================================================

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# ==============================================================================
# Project-specific generated files
# ==============================================================================

# Ignore extensions generated by our tool
ndx_conelab/extensions/*.yaml
!ndx_conelab/extensions/__init__.py

# Ignore the namespace file, which is now auto-managed
ndx_conelab/spec/conelab.namespace.yaml
ndx_conelab/spec/conelab.namespace.lock 